/*
Gilroy Hacks Website Source Code -> CSS (https://gilroyhacks.com)

For more info, contact jamesdinh77 (at) protonmail (dot) com
*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /*background: rgb(31, 33, 35);*/
    height: auto;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    flex-wrap: nowrap;
    z-index: 100;
    /*box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);*/
}

nav * {
    padding: 0;
    margin: 1px 1px;
    list-style: none;
    box-sizing: border-box;
    z-index: 100;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    line-height: 30px;
    margin: 10px 7px;
    padding: 3px 5px;
    cursor: pointer;
}

nav li a {
    /*color:rgb(136, 180, 231);*/
    color:rgb(233, 203, 104);
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

nav li a.active,a:hover {
    color: rgba(233, 203, 104, 0.774);
    transition: .5s;
}

nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
  }

nav li a:hover::after,
nav li a:focus::after{
    transform: scale(1);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#sign-up {
    padding: 3px 5px;
    border-radius: 5px;
    line-height: 30px;
    background-color: rgb(140, 42, 165);
    color: bisque;
}

#sign-up:hover {
    background-color: blueviolet;
    transition: 0.5s;
    cursor: pointer;
    padding: 4px 6px;
    margin: 0px 4.5px;
    font-size: 17px;
}

.header-background {
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* makes it so it covers the entire page */
}